.waxant-panneau-etendable {
    margin-bottom: 20px;
}

.waxant-panneau-etendable__header {
    color: #fff;
    background-color: #3f72af;
    padding: 4px 5px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: flex;
    flex-direction: row;
}

.waxant-panneau-etendable__header--collapsed {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.waxant-panneau-etendable__title {
    flex: auto;
    font-weight: 700;
    padding-top: 2px;
}

.waxant-panneau-etendable__toggle {
    cursor: pointer;
    color: #DBE2EF;
    flex: none;
    padding-top: 2px;
}

.waxant-panneau-etendable__toggle:hover {
    color: #fff;
}

.waxant-panneau-etendable__body {
    background-color: #F5F7FB;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-top: 1px solid #999;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}